<script type="text/javascript"> 
/** 
 * 
 */ 
	<% [1,2,3,4].each do |i| %>
	function select<%=i%>() 
{ 
	var proName = $("#c<%=i%>").val(); 
	$("#m<%=i%>").empty(); 
	$("#m<%=i%>").append("<option disabled selected>-- Select Model --</option>"); 
	if(proName == "CMIP5") 
	{ 
		$("#m<%=i%>").append(
				<% Settings::Datamodel.all.each do |cmip|%>
					"<option value='<%= cmip.foldername %>' > <%= cmip.name %> </option>"+
				<% end %>
				"<option disabled></option>"
				); 
	} 
	if(proName == "CORDEX-DAILY") 
	{ 
		$("#m<%=i%>").append(
				<% Settings::CordexModel.all.each do |cordex|%>
					"<option value='<%= cordex.folder %>' > <%= cordex.name %> </option>"+
				<% end %>
				"<option disabled></option>"
				); 
	} 
	if(proName == "NEX-NASA-DAILY") 
	{ 
		$("#m<%=i%>").append(
				<% Settings::NexnasaModel.all.each do |nasa|%>
					"<option value='<%= nasa.folder %>' > <%= nasa.name %> </option>"+
				<% end %>
				"<option disabled></option>"
				); 
	} 
} 
<% end %>
</script> 


<table id="tab"> 
	<thead>
		<tr>
			<th colspan=4>1.Select Models</th>
		</tr>
	</thead>

	<% [1,2,3,4].each do |i| %>

		<tr> 
		<td style="width:20%;" align="center">Model-<%=i%>:</td>
		<td style="width:30%;" align="center"> 
			<select id="c<%=i%>" name="c<%=i%>[]" onchange="select<%=i%>()"> 
				<option value="" disabled selected>-- Select Category --</option> 
				<option value="CMIP5">CMIP5</option> 
				<option value="CORDEX-DAILY">CORDEX</option> 
				<option value="NEX-NASA-DAILY">NEX-NASA</option> 
			</select> 
		</td> 
		<td style="width:50%;" align="center"> 
			<select id="m<%=i%>" name="m<%=i%>[]" > 
				<option value="" disabled selected> -- Select Model --</option> 
			</select> 
		</td> 
	</tr> 

<% end %>

</table> 


<table>
	<thead>
		<tr>
			<th>2.Select MIP</th>
			<th>3.Select Variable Name</th>
			<th>4.Select Experiment</th>
		</tr>
	</thead>
	<tr>
		<td>Daily Data<%#= collection_select(:mip, params[:mip], Settings::Mip.all.order("name"), :name, :name, {include_blank: "- Select MIP -"} ) rescue nil %></td>
		<td><%= collection_select(:var, params[:var], Settings::Variable.all.order("name"), :name, :name, {include_blank: "- Select Variable -"}, required: true) rescue nil %></td>
		<td><%= collection_select(:exp, params[:exp], Settings::Experiment.all.order("fullname"), :name, :fullname, {include_blank: "- Select Experiment -"}, required: true) rescue nil %></td>
	</tr>
</table>

<%= render "layouts/partials/datepicker"%>

<table>
	<thead>
		<tr>
			<th colspan=2>4.Select Date Range</th>
		</tr>
	</thead>

	<tr>
		<td>
			<%= text_field :s_date, params[:s_date], id: "s_date", placeholder: "Start Date", required: true rescue nil %>
		</td>
		<td>
			<%= text_field :e_date, params[:e_date], id: "e_date", placeholder: "End Date", required: true rescue nil %>
		</td>
	</tr>


</table>

<!--table>
	<thead>
		<tr>
			<th colspan=6>5.Select Months</th>
		</tr>
	</thead>
	<tr>
		<%# ["Jan.","Feb.","Mar.","Apr.","May","June"].each_with_index do |m,i|%>
   <td><%#= check_box_tag "months[#{i+1}]", i+1, name: 'months[]' %><%#= label_tag "months[#{i+1}]", " #{i+1}-#{m}", checked: false  %></td>
	<%# end %>
	</tr>
	<tr>
		<%# ["July","Aug.","Sep.","Oct.","Nov.","Dec."].each_with_index do |m,i|%>
   <td><%#= check_box_tag "months[#{i+7}]", i+7, name: 'months[]' %><%#= label_tag "months[#{i+7}]", " #{i+7}-#{m}" %></td>
	<%# end %>
	</tr>
</table -->
