<%= form_for(@ecmwf_type) do |f| %>
	<% if @ecmwf_type.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@ecmwf_type.errors.count, "error") %> prohibited this ecmwf_type from being saved:</h2>

	<ul>
		<% @ecmwf_type.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
	</ul>
</div>
  <% end %>

<table>
	<tr>
		<td>Name:</td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td>Folder Name:</td>
		<td><%= f.text_field :folder %></td>
	</tr>
	<tr>
		<td>Remark</td>
		<td><%= f.text_field :remark %></td>
	</tr>
	<tr>
		<td colspan=2>
			<%= f.submit %>
		</td>
	</tr>
</table>

<% end %>
