<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @settings_nexnasa_model.name %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @settings_nexnasa_model.folder %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @settings_nexnasa_model.institute %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @settings_nexnasa_model.remark %>
</p>

<%= link_to 'Edit', edit_settings_nexnasa_model_path(@settings_nexnasa_model) %> |
<%= link_to 'Back', settings_nexnasa_models_path %>
