<p id="notice"><%= notice %></p>

<h1>Listing Ecmwf Vars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Var</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecmwf_vars.each do |ecmwf_var| %>
      <tr>
        <td><%= ecmwf_var.name %></td>
        <td><%= ecmwf_var.var %></td>
        <td><%= ecmwf_var.remark %></td>
        <td><%= link_to 'Show', ecmwf_var %></td>
        <td><%= link_to 'Edit', edit_ecmwf_var_path(ecmwf_var) %></td>
        <td><%= link_to 'Destroy', ecmwf_var, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Var', new_ecmwf_var_path %>
