<%= form_tag({controller: "cmip5s", action: "mult_analysis" }, method: :get) do %>  

	<table>
	<thead>
		<tr>
			<th colspan=4>1.Select Models</th>
		</tr>
	</thead>
	<tr>
		<td>Model-1:</td>
		<td><%= collection_select(:m1, params[:m1], Settings::Datamodel.all.order("name"), :name, :foldername, {include_blank: "- Select Model 1 -"} ) rescue nil %></td>
		<td>Model-2:</td>
		<td><%= collection_select(:m2, params[:m2], Settings::Datamodel.all.order("name"), :name, :foldername, {include_blank: "- Select Model 2 -"} ) rescue nil %></td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td>Model-3:</td>
		<td><%= collection_select(:m3, params[:m3], Settings::Datamodel.all.order("name"), :name, :foldername, {include_blank: "- Select Model 3 -"} ) rescue nil %></td>
		<td>Model-4:</td>
		<td><%= collection_select(:m4, params[:m4], Settings::Datamodel.all.order("name"), :name, :foldername, {include_blank: "- Select Model 4 -"} ) rescue nil %></td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th>2.Select MIP</th>
			<th>3.Select Variable Name</th>
			<th>4.Select Experiment</th>
		</tr>
	</thead>
	<tr>
		<td><%= collection_select(:mip, params[:mip], Settings::Mip.all.order("name"), :name, :name, {include_blank: "- Select MIP -"} ) rescue nil %></td>
		<td><%= collection_select(:var, params[:var], Settings::Variable.all.order("name"), :name, :name, {include_blank: "- Select Variable -"} ) rescue nil %></td>
		<td><%= collection_select(:exp, params[:exp], Settings::Experiment.all.order("fullname"), :name, :fullname, {include_blank: "- Select Experiment -"} ) rescue nil %></td>
	</tr>
</table>

<%= render "layouts/partials/datepicker"%>

<table>
	<thead>
		<tr>
			<th colspan=2>4.Select Date Range</th>
		</tr>
	</thead>

	<tr>
		<td>
			<%= text_field :s_date, params[:s_date], id: "s_date", placeholder: "Start Date" rescue nil %>
		</td>
		<td>
			<%= text_field :e_date, params[:e_date], id: "e_date", placeholder: "End Date" rescue nil %>
		</td>
	</tr>


</table>

<table>
	<thead>
		<tr>
			<th colspan=6>5.Select Months</th>
		</tr>
	</thead>
	<tr>
		<%# ["Jan.","Feb.","Mar.","Apr.","May","June"].each_with_index do |m,i|%>
			<td><%#= check_box_tag "months[#{i+1}]", i+1, name: 'months[]' %><%#= label_tag "months[#{i+1}]", " #{i+1}-#{m}", checked: false  %></td>
	<%# end %>
	</tr>
	<tr>
		<%# ["July","Aug.","Sep.","Oct.","Nov.","Dec."].each_with_index do |m,i|%>
			<td><%#= check_box_tag "months[#{i+7}]", i+7, name: 'months[]' %><%#= label_tag "months[#{i+7}]", " #{i+7}-#{m}" %></td>
	<%# end %>
	</tr>
</table>

<div id="result">
	<%= hidden_field :s_lon, params[:s_lon], class: "slon" rescue nil %>
	<%= hidden_field :e_lon, params[:e_lon], class: "elon" rescue nil %>
	<%= hidden_field :s_lat, params[:s_lat], class: "slat" rescue nil %>
	<%= hidden_field :e_lat, params[:e_lat], class: "elat" rescue nil %>
</div>

<table>
	<tr>
		<td align=center>
			<%= submit_tag "Submit & Analysis", class: "submit" rescue nil %>
		</td>
	</tr>
</table>
	<% end %>

