<% if can? :manage, :settings %>
<%= form_for(@settings_variable) do |f| %>
	<% if @settings_variable.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@settings_variable.errors.count, "error") %> prohibited this settings_variable from being saved:</h2>

	<ul>
		<% @settings_variable.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
	</ul>
</div>
  <% end %>

<ul>
	<li>Name: <%= f.text_field :name %></li>
	<p/>
	<li>Full Name: <%= f.text_field :fullname %></li>
	<p/>
	<li>Unit: <%= f.text_field :unit %></li>
	<p/>
	<li>Description: <%= f.text_field :description %></li>
	<p/>
</ul>

<table>
	<tr>
		<td>
			<%= f.submit %>
		</td>
		<% end #form %>
		<td>
			<%= button_to 'Back', settings_variables_path, method: :get %>
		</td>
	</tr>
</table>

<% else %>
	Access Denied !
<% end %>
