
<div class="inner">
	<h2>DSMS.RIMES<br/>User Login</h2>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div align=center>
		<div class="6u 12u$(xsmall)">
			<%= f.email_field :email, autofocus: true, size: 5, placeholder: "Email" %>
		</div>
		<p/>
		<div class="6u$ 12u$(xsmall)">
			<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
		</div>
		<p/>
		<div class="6u$ 12u$(xsmall)">
			<%= f.submit "Log in" %>
		</div>
	</div>
<% end %>
	<%= render "users/shared/links" %>
</div>

