<table>
	<tr></tr>
	<tr align=center>
		<% ["info", "seasonal", "yearly"].each do |a|  %>
			<td>
			<%= form_tag({controller: "cdoanalysises", action: a }, target: '_blank', method: :post) do %>  
				<%= hidden_field_tag :dataset, @sel_data %>
			<%= hidden_field_tag :file_name, @file_name %>
			<%= hidden_field_tag :var_name, @var_name %>
			<%= hidden_field_tag :var_std_name, @var_std_name %>
			<%= hidden_field_tag :lon_r, @lon_r %>
			<%= hidden_field_tag :lat_r, @lat_r %>
			<%= hidden_field_tag :rate, @rate %>
			<%= hidden_field_tag :rate2, @rate2 %>
			<%= hidden_field_tag :unit, @unit %>
			<%= hidden_field_tag :sdate, @sdate %>
			<%= hidden_field_tag :edate, @edate %>
			<%= submit_tag a.humanize+" Statistics", class: "submit" %>
		<% end %>
		</td>
	<% end %>
	</tr>

	<tr></tr>
	<tr align=center>
		<td>
			<%= form_tag({controller: "cdoanalysises", action: "ymonmean" }, target: '_blank', method: :post) do %>  
				<%= hidden_field_tag :dataset, @sel_data %>
			<%= hidden_field_tag :var_std_name, @var_std_name %>
			<%= hidden_field_tag :rate, @rate %>
			<%= hidden_field_tag :rate2, @rate2 %>
			<%= hidden_field_tag :unit, @unit %>
			<%= submit_tag "Monthly Mean", class: "submit" %>
		<% end %>
		</td>
		<td></td>
		<td></td>
	</tr>

	<tr></tr>
	<%= form_tag({controller: "cdoanalysises", action: "sma" }, target: '_blank' , method: :post) do %>  
		<tr align=center>
		<td>Select Specific Months :</td>
		<td>
			<% ["Jan.","Feb.","Mar.","Apr.","May","June","July","Aug.","Sep.","Oct.","Nov.","Dec."].each_with_index do |m,i|%>
				<%= check_box_tag "months[#{i+1}]", i+1, name: 'months[]' %><%= label_tag "months[#{i+1}]", " #{i+1}-#{m}" %>
		<% end %>
			<%= hidden_field_tag :dataset, @sel_data  %>
			<%= hidden_field_tag :cdo_output_path, @cdo_output_path %>
			<%= hidden_field_tag :var_name, @var_name %>
			<%= hidden_field_tag :file_name, @file_name %>
			<%= hidden_field_tag :var_std_name, @var_std_name %>
			<%= hidden_field_tag :rate, @rate %>
			<%= hidden_field_tag :rate2, @rate2 %>
			<%= hidden_field_tag :unit, @unit %>
			<%= hidden_field_tag :sdate, @sdate %>
			<%= hidden_field_tag :edate, @edate %>
		</td>
		<td>
			<%= submit_tag "Analysis", class: "submit"  %>
		</td>
	</tr>
<% end %>


	<tr></tr>
	<tr align=center>

		<%= form_tag({controller: "cdoanalysises", action: "indices" }, target: '_blank' , method: :post) do %>  
			<td>Climate Index :</td>
		<td>
			<%#= collection_select(:indice, params[:indice], Settings::Ind.all, :cdocmd, :name, {include_blank: "- Select -"} ) rescue nil %>
			<%= select(:indice, params[:indice], options_for_select(Settings::Ind.where(var: @var_name).all.map{|i| [i.name, i.cdocmd, {'title'=>i.description} ]}), {include_blank: "- Select Index -"}) rescue nil %>
			<%= hidden_field_tag :dataset, @sel_data  %>
			<%= hidden_field_tag :cdo_output_path, @cdo_output_path %>
			<%= hidden_field_tag :var_name, @var_name %>
			<%= hidden_field_tag :file_name, @file_name %>
			<%= hidden_field_tag :var_std_name, @var_std_name %>
			<%= hidden_field_tag :rate, @rate %>
			<%= hidden_field_tag :rate2, @rate2 %>
			<%= hidden_field_tag :unit, @unit %>
		</td>
		<td>
			<%= submit_tag "Analysis", class: "submit"  %>
		</td>
	<% end %>
	</tr>
</table>
