<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h2>
	A new user signing up
<h2>
	
<p>
<strong>User Name:</strong>
<%= @user.username %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>

<p>
<strong>Country:</strong>
<%= @user.country %>
</p>

<p>
<strong>Organization:</strong>
<%= @user.organization %>
</p>

<p>
<strong>Research Interest:</strong>
<%= @user.research_int %>
</p>

</body>
</html>

