<%= form_for(@settings_ind) do |f| %>
	<% if @settings_ind.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@settings_ind.errors.count, "error") %> prohibited this settings_ind from being saved:</h2>

	<ul>
		<% @settings_ind.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
	</ul>
</div>
  <% end %>

<table>
	<tr>
		<td>
			Name
		</td>
		<td>
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<td>
			Cdo Command	
		</td>
		<td>
			<%= f.text_field :cdocmd %>
		</td>
	</tr>
	<tr>
		<td>
			Description	
		</td>
		<td>
			<%= f.text_field :description %>
		</td>
	</tr>
	<tr>
		<td>
			Remark	
		</td>
		<td>
			<%= f.text_field :remark %>
		</td>
	</tr>
</table>
<table>
	<tr>
		<td colspan=2>
			<%= f.submit "Submit" %>
		<% end %>
		</td>
		<td colspan=2>
			<%= button_to 'Back', settings_inds_path, method: :get %>
		</td>
	</tr>
</table>
