<p id="notice"><%= notice %></p>

<h1>Listing Settings Inds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings_inds.each do |settings_ind| %>
      <tr>
        <td><%= settings_ind.name %></td>
        <td><%= settings_ind.description %></td>
        <td><%= settings_ind.remark %></td>
        <td><%= link_to 'Show', settings_ind %></td>
        <td><%= link_to 'Edit', edit_settings_ind_path(settings_ind) %></td>
        <td><%= link_to 'Destroy', settings_ind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind', new_settings_ind_path %>
