This is for ECMWF
<table>
	<tr></tr>
	<tr align=center>

		<%= form_tag({controller: "cdoanalysises", action: "ecmwf_level" }, target: '_blank' , method: :post) do %>  
			<td>Select Ensemble :</td>
		<td>
			<%= select(:level, params[:level] , @levels.map {|l| [l,l] }, {include_blank: "- Select Ensemble -"}, required: true ) rescue nil %>
			<%= hidden_field_tag :dataset, @sel_data  %>
			<%= hidden_field_tag :sys_output_dir, @sys_output_dir %>
			<%= hidden_field_tag :cdaas_output_dir, @cdaas_output_dir %>
			<%= hidden_field_tag :output_name, @output_name %>
			<%= hidden_field_tag :lon_r, @lon_r %>
			<%= hidden_field_tag :lat_r, @lat_r %>

		</td>
		<td>
			<%= submit_tag "Analysis", class: "submit"  %>
		</td>
	<% end %>
	</tr>
</table>
