<p id="notice"><%= notice %></p>

<h2>Listing CMIP5 Data Models</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Folder Name</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
	<% @settings_datamodels.each do |settings_datamodel| %>
		<tr>
		<td><%= settings_datamodel.name %></td>
		<td><%= settings_datamodel.foldername %></td>
		<td><%= button_to 'Show', settings_datamodel, method: :get %></td>
		<% if can? :manage, :settings %>
			<td><%= button_to 'Edit', edit_settings_datamodel_path(settings_datamodel), method: :get %></td>
		<td><%= button_to 'Del', settings_datamodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	</tr>
<% end %>
	</tbody>
</table>

<br>

<% if can? :manage, :settings %>
	<%= button_to 'Add New Model', new_settings_datamodel_path, method: :get %>
<% end %>
