
<p id="notice"><%= notice %></p>
<h2>CMIP5 Data Analysis - Test Version</h2>
Mean:<%= @dataset_v.mean %>
<p></p>
Max:<%= @dataset_v.max.to_f %>
<p></p>
Min:<%= @dataset_v.min %>
<p></p>

<%= render "cmip5s/graphs/test", area: @area, c_point: @c_point, dataset_v: @dataset_v, lon: @lon, lat: @lat, map_scale: @map_scale %>
<p/>

<%#= @edate.yday + (@edate.strftime("%Y").to_i-1850)*365%>
<p/>

<%#= render "cmip5s/graphs/test" %>
all:<%#= render @dataset_v.grid %>
<p/>

<table>
	<thead>
		<tr>
			<th>Index</th>
			<th>Data Set</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
	<%# @dataset_v.to_a.each_with_index do |d,i| %>
		<%# @lon.each_with_index do |lon,x| %>
		<%# @lat.each_with_index do |lat,y| %>
		<tr>
		<td><%#= lon %>,<%#= lat %></td>
		<td><%#= d[x][y] rescue nil %></td>
		<td><%#= link_to 'Show', cmip5 %></td>
		<td><%#= link_to 'Edit', edit_cmip5_path(cmip5) %></td>
		<td><%#= link_to 'Destroy', cmip5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<%# end %>
<%# end %>
<%# end %>
	</tbody>
</table>

<br>
<ul>
	<%# @dataset_t.to_a.each_with_index do |t,i| %>
		<li><%#= i+1 %> | <%#= t %></li>
<%# end %>
</ul>
<%= link_to 'Back', cmip5s_path %>
