
<p id="notice"><%= notice %></p>
<h2>CMIP5 Data Analysis - Daily</h2>


<p/>
<p/>
<p/>
<p/>
<p/>
<table>
	<tr>
		<td>
			<%= image_tag root_path+"#{@cdo_output_path}_rimes_sphere.png" %>
		</td>
		<td>
			<%= image_tag root_path+"#{@cdo_output_path}_rimes_lonlat.png" %>
		</td>
	</tr>
	<tr>
		<td>
			<%= image_tag root_path+"#{@cdo_output_path}_sel_sphere.png" %>
		</td>
		<td>
			<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat.png" %>
		</td>
	</tr>
</table>
<%#= render "cmip5s/graphs/map", area: @area, c_point: @c_point, dataset_v: @dataset_v, lon: @lon, lat: @lat, map_size: @map_size, dataset_h: @dataset_h %>
<p/>
Central point of the map: <%= @c_point %>
<%= render "cmip5s/graphs/daily" %>
<p/>
<table>
	<thead>
		<tr>
			<th>Basic Information of <%= @file_name.humanize%></th>
			<th>
				<div class="buttons">
					<input type="button" class="data" value="Show Detail"/>
				</div>
			</th>
		</tr>
	</thead>
</table>

<p/>
<div class="content_data" style="display:none" >
	<table>
		<tbody>
		<tr>
			<td>Variable: <%= @var_std_name.humanize %></td>
			<td>Date Range: <%= @sdate.strftime("%Y-%m") %>--<%= @edate.strftime("%Y-%m") %></td>
		</tr>

		<tr>
			<td>Longitude Range: <%= @lon_r %></td>
			<td>Latitude Range: <%= @lat_r %></td>
		</tr>
		<tr>
			<td>Min Value: <%= @min_set[1..-1].min*@rate %></td>
			<td>Max Value: <%= @max_set[1..-1].max*@rate %></td>
		</tr>
		<tr>
			<td>
				<%= button_to "Download", root_path+@cdo_output_path.to_s, method: :get %>
			</td>
			<td>
				<div class="buttons">
					<input type="button" class="data" value="Hide Detail"/>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<p/>
<table>
	<thead>
		<tr>
			<th>Dataset Analysis Operations</th>
			<th>
				<div class="buttons">
					<input type="button" class="analysis" value="Show"/>
				</div>
			</th>
		</tr>
	</thead>
</table>

<div class="content_analysis" style="display:none" >


	<%= render "cmip5s/forms/form_daily_analysis" %>

	<table>
		<tr>
			<td align=center>
				<div class="buttons">
					<input type="button" class="analysis" value="Hide Analysis Operators"/>
				</div>

			</td>
		</tr>
	</table>
</div>
<p/>


<%#= button_to 'Back', cmip5s_path, method: :get %>
