
<p id="notice"><%= notice %></p>
<h2>CMIP5 Data Analysis - Mult-Models</h2>

<% if can? :analyze, :multmodels %>

	<table>
	<tr>
		<td style="width:50%;" align="center" colspan=3>
		<% if @m1.nil? %>
			No file selected !
		<% else %>
			<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c1.to_s}_#{@m1.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c1.to_s}_#{@m1.to_s}.png", width: "100%" rescue nil %>
			</a>
		<% end %>
		</td>

		<td style="width:50%;" align="center" colspan=3>
			<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c2.to_s}_#{@m2.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c2.to_s}_#{@m2.to_s}.png", width: "100%" rescue nil %>
			</a>
		</td>
	</tr>
	<tr>
		<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c1}_#{@m1}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c1}_#{@m1}.ctl", method: :get %></td>
		<% end # if can? :download, :ctl %>
		<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c2}_#{@m2}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c2}_#{@m2}.ctl", method: :get %></td>
		<% end # if can? :download, :ctl %>
	</tr>
	<tr>
		<td style="width:50%;" align="center" colspan=3>
			<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c3.to_s}_#{@m3.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c3.to_s}_#{@m3.to_s}.png", width: "100%" rescue nil %>
			</a>
		</td>

		<td style="width:50%;" align="center" colspan=3>
			<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c4.to_s}_#{@m4.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c4.to_s}_#{@m4.to_s}.png", width: "100%" rescue nil %>
			</a>
		</td>
	</tr>
	<tr>
		<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c3}_#{@m3}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c3}_#{@m3}.ctl", method: :get %></td>
		<% end # if can? :download, :nc %>
		<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c4}_#{@m4}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c4}_#{@m4}.ctl", method: :get %></td>
		<% end # if can? :download, :nc %>
	</tr>

</table>
<p/>

<%#= render "cmip5s/graphs/mult_models" %>
<p/>
<p/>


</div>
<p/>


<% else %>
<p/>
Permission Denied ! 
<p/>
Please upgrade your account to use this function !

<% end %>
