
<p id="notice"><%= notice %></p>
<h2>CMIP5 Data Analysis - Mult-Models</h2>

<% if can? :analyze, :multmodels %>

	<table>
	<tr>
		<td style="width:50%;" align="center" colspan=3>
			<% if @m1.nil? %>
				No file selected !
		<% else %>
				<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c1.to_s}_#{@m1.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c1.to_s}_#{@m1.to_s}.png", width: "100%" rescue nil %>
			</a>
		<% end %>
		</td>

		<td style="width:50%;" align="center" colspan=3>
			<% if @m2.nil? %>
				No file selected !
		<% else %>
				<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c2.to_s}_#{@m2.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c2.to_s}_#{@m2.to_s}.png", width: "100%" rescue nil %>
			</a>
		<% end %>
		</td>
	</tr>

	<% if can? :download, :nc %>
		<tr>
		<% if @m1.nil? %>
			<td style="width:50%;" align="center" colspan=3></td>
	<% else %>
			<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c1}_#{@m1}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c1}_#{@m1}.ctl", method: :get %></td>
		<% end # if can? :download, :ctl %>
		<% end # if @m1.nil %>

		<% if @m2.nil? %>
			<td style="width:50%;" align="center" colspan=3></td>
	<% else %>
			<td>Download:</td>
		<% if can? :download, :nc %>
			<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c2}_#{@m2}.nc", method: :get %></td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c2}_#{@m2}.ctl", method: :get %></td>
		<% end # if can? :download, :ctl %>
		<% end # if @m2.nil? %>
	</tr>
	<% end # if can? :download, :nc %>

	<tr>
		<td style="width:50%;" align="center" colspan=3>
			<% if @m3.nil? %>
				No file selected !
		<% else %>
				<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c3.to_s}_#{@m3.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c3.to_s}_#{@m3.to_s}.png", width: "100%" rescue nil %>
			</a>
			<% end # if @m3.nil? %>
		</td>

		<td style="width:50%;" align="center" colspan=3>
			<% if @m4.nil? %>
				No file selected !
		<% else %>
				<a href= <%= root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c4.to_s}_#{@m4.to_s}.png" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_sel_lonlat_grads_#{@c4.to_s}_#{@m4.to_s}.png", width: "100%" rescue nil %>
			</a>
			<% end #if @m4.nil? %>
		</td>
	</tr>

	<% if can? :download, :nc %>

		<tr>
		<% if @m3.nil? %>
			<td style="width:50%;" align="center" colspan=3>
		<% else %>
				<td>Download:</td>
			<% if can? :download, :nc %>
				<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c3}_#{@m3}.nc", method: :get %></td>
			<% end # if can? :download, :nc %>
			<% if can? :download, :ctl %>
				<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c3}_#{@m3}.ctl", method: :get %></td>
			<% end # if can? :download, :nc %>
			<% end # if @m3.nil? %>

			<% if @m4.nil? %>
				<td style="width:50%;" align="center" colspan=3>
			<% else %>
					<td>Download:</td>
				<% if can? :download, :nc %>
					<td><%= button_to "NC file", root_path+@cdo_output_path.to_s+"_#{@c4}_#{@m4}.nc", method: :get %></td>
				<% end # if can? :download, :nc %>
				<% if can? :download, :ctl %>
					<td><%= button_to "CTL file", root_path+@cdo_output_path.to_s+"_#{@c4}_#{@m4}.ctl", method: :get %></td>
				<% end # if can? :download, :nc %>
				<% end # if @m4.nil? %>
			</tr>
			<% end # if can? :download, :nc %>

		</table>
		<p/>

		<p/>
		<p/>


	</div>
	<p/>


<% else %>
		<p/>
	Permission Denied ! 
	<p/>
	Please upgrade your account to use this function !

<% end %>
