<%= form_for(@feedback) do |f| %>
	<% if @feedback.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

	<ul>
		<% @feedback.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
	</ul>
</div>
  <% end %>

<div class="field">
	Title: <%= f.text_field :title %>
  </div>
<div class="field">
	Content: <%= f.text_area :content %>
  </div>
<% if can? :manage, :feedback %>
	<div class="field">
	Answer: <%= f.text_area :answer %>
  </div>
<% end #can %>
<%= f.hidden_field :user, value: current_user.email %>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
