<h2>Admin Settings</h2>
<p></p>

<%if can? :manage, :settings %>

	<ul>
	<li><%= link_to "News & Update notes Management", news_index_path %></li>
	<li><%= link_to "Variables Management", settings_variables_path %></li>
	<li><%= link_to "MIPs Management", settings_mips_path %></li>
	<li><%= link_to "CMIP5 Models Management", settings_datamodels_path %></li>
	<li><%= link_to "NEX-NASA Models Management", settings_nexnasa_models_path %></li>
	<li><%= link_to "Experiments Management", settings_experiments_path %></li>
	<li><%= link_to "Ensemble Members Management", settings_ensembles_path %></li>
	<li><%= link_to "Temporal Subsets Management", settings_temporals_path %></li>
	<li><%= link_to "Climate Indices Management", settings_inds_path %></li>
<% end %>

<%if can? :manage, :root_path %>
	<li><%= link_to "Dataset Root Path Management", settings_datasetpaths_path %></li>
<% end %>

</ul>
