<h2>Information of Dataset</h2>
<p/>
<button class="btn btn-success">Export to Excel</button></div>
<p/>
<table id="t2e" >
<% @info.first do |info| %>
	<tr>
	<td><%= info.split(" ")[2] %></td>
	<td><%= info.split(" ")[8] %><br/><%= @unit %></td>
	<td><%= info.split(" ")[9] %><br/><%= @unit %></td>
	<td><%= info.split(" ")[10] %><br/><%= @unit %></td>
</tr>
<% end %>
<% @info[1..-1].each do |info| %>
	<tr>
	<td><%= info.split(" ")[2].to_i %></td>
	<td><%= info.split(" ")[8].to_i * @rate %></td>
	<td><%= info.split(" ")[9].to_i * @rate %></td>
	<td><%= info.split(" ")[10].to_i * @rate %></td>
</tr>
<% end %>
</table>

<script>

$(function() {
		$("button").click(function(){
			$("#t2e").table2excel({
exclude: ".noExl",
name: "Basic_Info",
filename: "Basic_Info"
}); 
			});
		});


</script>
