<h2>Selected Months Analysis</h2>

<table>
	<tr>
		<td>
			<%= button_to "Download NC", root_path+@cdo_output_path.to_s+"_sma.nc", method: :get %>
		</td>
		<td>
			<%= button_to "Download CTL", root_path+@cdo_output_path.to_s+"_sma.ctl", method: :get %>
		</td>
	</tr>
</table>

<p/>
<%= high_chart("ymon", @chart_ymon) %>
<p/>
<%= high_chart("yy_min", @chart_yy_min) %>
<p/>
<%= high_chart("yy_avg", @chart_yy_avg) %>
<p/>
<%= high_chart("yy_max", @chart_yy_max) %>
<p/>
