
<!DOCTYPE HTML>
<html>

<%= render "layouts/partials/head"%>

<body class="landing">

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<%= render "layouts/partials/header" %>

	<!-- Banner -->
	<section id="banner">

		<p class="notice"><%= notice %></p>  
		<p class="alert"><%= alert %></p>

		<%= yield %>


	</section>

	<!-- Footer -->

	<%= render "layouts/partials/footer" %>

</div>

<!-- Scripts -->
	<%= render "layouts/partials/scripts" %>

</body>
</html>
