<div class="inner">
	<h2>CDAAS.RIMES Edit Info.</h2>
	

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

		<div align=center>

		<div class="6u 12u$(xsmall)">
			<%= devise_error_messages! %>
		</div>

		<p/>

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :username, autofocus: true, placeholder: "Username", required: true, disabled: true %>
		</div>

		<p/>

		<div class="6u 12u$(xsmall)">
			<%= f.email_field :email, autofocus: true, placeholder: "Email", required: true, disabled: true %>
		</div>

		<p/>

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :country, autofocus: true, placeholder: "Country", required: true  %>
		</div>

		<p/>

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :organization, autofocus: true, placeholder: "Organization", required: true  %>
		</div>

		<p/>

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :research_int, autofocus: true, placeholder: "Research Interesting", required: true  %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>
			Currently waiting confirmation for: <%= resource.unconfirmed_email %>
	</div>
	<% end %>

		<p/>

		<div class="6u$ 12u$(xsmall)">
			<%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %>
		</div>

		<p/>

		<div class="6u$ 12u$(xsmall)">
			<%= f.password_field :password, autocomplete: "off", placeholder: "New Password (Option)" %>
		</div>

		<p/>

		<div class="6u$ 12u$(xsmall)">
			<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password (Option)" %>
		</div>
		<p/>
		<div class="6u$ 12u$(xsmall)">
			<%= f.submit "Confirm" %>
		</div>
	</div>
<% end %>
</div>
